* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* display: flex; */
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  /* margin: 100px; */
  margin-left: calc(100% - 60%);
}

.game-info {
  /* margin-left: 100px; */
  /* padding-left: 50px; */
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 38px;
}


.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #1876D2;
}

.white {
  background-color: #f07917;
}

.selected {
  background-color: chartreuse;
}

.available {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: crimson;
}

.player-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.lost {
  height: calc(50vh - 60px);
  color: white;
  padding: 30px;
  /* margin-left: 50px; */
  background-color: #1876D2;
}

.timer {
  
}

.timer-players {
  padding-right: 20px;
  font-weight: 700;
}